.Navigation{
    transition: 0.4s ease-out;
    padding: 10px 20px;
    width: 100%;
    
}

.Navigation a{
    text-decoration: none;
}
.Navigation p{
    font-size: 17px;
    padding: 12px 5px 0px;
    color: white;
    transition: 0.3s ease-out;
    border-bottom: 2px solid transparent;
}
.Navigation p:hover{
    border-bottom: 2px solid #d53535;
    transition: 0.3s ease-in;
}

.sticky{
    top: 0;
    position: sticky !important;
    z-index: 9999;
    background-color: rgb(0, 21, 75 , 0.8);
    backdrop-filter: blur(10.9px);
    -webkit-backdrop-filter: blur(10.9px);
    transition: 0.4s ease-in;
    color: white;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
}
.sticky p, 
.sticky span{
    color: white;
}
.logo-name{
    padding-left: 15px;
    font-weight: bold;
    color: white;
    font-family: 'Magmawave Caps';
}
span{
    padding-left: 15px;
    font-weight: bold;
    color: white;
}
.Navigation-link{
    margin-left: auto;
}

@media screen and (min-width: 300px) and (max-width: 900px){
    html{
        scroll-behavior: smooth;
    }
    body{
        scroll-behavior: smooth;
    }
    .Navigation{
        transition: 0.4s ease-out;
        z-index: 9999;
        padding: 20px;
        width: 100%;
        position: sticky;
        overflow-x: hidden;
        width: 100%;
        padding: 10px 20px;
        background-color: rgba(0, 21, 75 , 1);
        backdrop-filter: blur(10.9px);
        -webkit-backdrop-filter: blur(10.9px);
    }
    .Navigation p{
        border-bottom: none;
        padding-top: 10px;
    }
    .Navigation p:hover{
        border-bottom: none;
        padding-top: 10px;
    }
    .Navigation img{
        width: 60px ;
        height: 50px;
    }
    .sticky{
        top: 0;
        width: 100%;
        background-color: rgba(0, 21, 75 , 0.8);
    }
    .navbar-collapse{
        width: 100% !important;
        margin-left: -40px;
        margin-right: -40px;
        padding: 20px 20px;
    }
    .Navigation-link p{
        margin-bottom: 0px;
        text-align: justify;

    }
    .navbar-brand span{
       visibility: hidden;
    }
   .navbar-brand a{
       margin-right: -150px;
   }
   .dark{
        color: white;
   }
}